.txta{ 
    width:800px; 
    height:200px;
    resize:none;
    font-family: cursive; 
}

.revbx{
    width: 600px;
    padding: 20px;
    margin-left: 27%;
    margin-bottom: 4px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.revbx p {
    font-family: cursive;
    font-size: 14px;
    line-height: 16px;
    color: #282828;
    font-weight: 100;
}